/* General */

body {
	background: #fff;
	text-rendering: optimizeLegibility;
}

main {
	margin: 3rem auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media(min-width: 576px) {
	main {
		width: 65%;
	}
}

/* Header */
.banner {
	background: url("images/banner.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	padding: 75px 0;
}

.banner .inner {
	text-align: center;
	color: #fff;
	position: relative;
	margin: 0;
}

.banner .inner h1 {
	margin-bottom: 3rem
}

.banner .inner a {
	color: #fff;
	text-decoration: none;
}

/* Nav */
.navbar {
	background-color: #f78800;
}

.nav-link {
	color: #f0f0f0;
	font-size: 1.5rem;
}

.nav-link:hover, .nav-item a:hover {
	color: #fff;
}

.active .nav-link {
	color: #fff;
}

.icons a {
	color: #f0f0f0;
	font-size: 2rem;
}

.icons a + a {
	margin-left: .5rem;
}

/*
.icons .nav-link {
	display: inline;
}
*/

/* Code blocks */
pre {
	background-color: #222222;
	border-radius: 0.5rem;
	color: #fff;
	padding: 1rem;
	overflow-x: auto;
}

pre code.hljs {
	padding: 0;
}

/* Latest entries */
.latest img {
	float: left;
	margin-right: 1rem;
	width: 150px;
}

.latest hr {
	clear: both;
}

/* Listing */
.listing img {
	float: left;
	margin-right: 1rem;
	width: 200px;
}

.listing hr {
	clear: both;
	margin: 3rem 0;
}

/* Record */
.articleImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5rem;
}